@import "_fonts.scss";
main {
	font-family: "Inter", sans-serif;
	background-color: $background;

	.main_container {
		width: 76.042%;
		margin: 35px auto 0;

		hr {
			margin-top: 28px;
			margin-bottom: 24px;
			background-color: $linecolor;
			opacity: 10%;
			height: 1px;
		}

		.header_component {
			display: flex;
			align-items: center;
			.header {
				width: 15%;
			}
			h1 {
				font-family: "Inter", sans-serif;
				margin-right: 43px;
				font-size: 32px;
				font-weight: 900;
				span {
					font-size: 32px;
					color: $maincolor;
				}
			}

			.search-container {
				width: 66.21%;
				form {
					input {
						width: 83%;
						height: 50px;
						padding-left: 6%;
						padding-top: 15px;
						padding-bottom: 15px;
						border-radius: 10px;
						box-shadow: 0 1px 2px -1px #c8cad1;
						background-color: #ffffff;
						border: 0;
						background-image: url(../assets/Search.svg);
						background-repeat: no-repeat;
						background-position-y: center;
					}
					button {
						position: relative;
						right: 13%;
						padding: 0px 16px;
						font-weight: bold;
						color: $topbarwhite;
						border-radius: 6px;
						background-color: $maincolor;
						height: 40px;
						border: 0;
						font-size: 15px;
					}
				}
			}

			.mobile-nav {
				display: none;
			}
		}

		.flex-container {
			display: flex;
		}
	}
}

@media (max-width: 1346px) {
	hr {
		width: 100%;
	}
	.header_component {
		div {
			form {
				display: flex;
				align-items: center;

				img {
					position: relative;
					top: 5%;
				}
				button {
					position: relative;
					left: -15%;
				}
			}
		}
	}
}

@media (max-width: 769px) {
	html {
		background-color: $background;
	}

	main {
		.main_container {
			margin: auto;
			width: 91.467%;

			.header_component {
				display: block;

				.header {
					display: flex;
					width: 100%;
					justify-content: space-between;
					margin-top: 5%;
					align-items: center;
				}

				.mobile-nav {
					display: flex;
					width: 7%;
					height: 3vh;
					justify-content: flex-end;
				}

				.search-container {
					margin-top: 20px;
					width: 100%;
					input {
						width: 100%;
					}
					form {
						width: 100%;
					}
					button {
						display: none;
					}
				}
			}
			hr {
				display: none;
			}
		}
	}
}
