@import "_fonts.scss";
main {
	font-family: "Inter", sans-serif;
	background-color: $background;

	.main_container {
		width: 76.042%;
		margin: 35px auto 0;

		hr {
			margin-top: 28px;
			margin-bottom: 24px;
			background-color: $linecolor;
			opacity: 10%;
			height: 1px;
		}

		.header_component {
			display: flex;
			align-items: center;
			h1 {
				font-family: "Inter", sans-serif;
				margin-right: 43px;
				font-size: 32px;
				font-weight: 900;
				span {
					font-size: 32px;
					color: $maincolor;
				}
			}

			div {
				width: 66.21%;
				form {
					img {
						position: relative;
						left: 4.5%;
						top: 4px;
					}
					input {
						width: 83%;
						height: 50px;
						padding-left: 6%;
						padding-top: 15px;
						padding-bottom: 15px;
						border-radius: 10px;
						box-shadow: 0 1px 2px -1px #c8cad1;
						background-color: #ffffff;
						border: 0;
					}
					button {
						position: relative;
						right: 13%;
						padding: 0px 16px;
						font-weight: bold;
						color: $topbarwhite;
						border-radius: 6px;
						background-color: $maincolor;
						height: 40px;
						border: 0;
						font-size: 15px;
					}
				}
			}
		}

		.flex-container {
			display: flex;
		}
	}
}

@media (max-width: 1346px) {
	hr {
		width: 100%;
	}
	.header_component {
		div {
			form {
				display: flex;
				align-items: center;

				img {
					position: relative;
					top: 5%;
				}
				button {
					position: relative;
					left: -15%;
				}
			}
		}
	}
}
