.topbar {
	font-family: "Inter", sans-serif;
	color: $topbarwhite;
	width: 100%;
	img {
		width: 100%;
		height: 60px;
	}
	p {
		position: absolute;
		top: 20px;
		left: 183px;
	}
	p:nth-of-type(2) {
		left: 460px;
		font-size: 14px;
	}
	p:nth-of-type(1) {
		font-weight: bold;
	}
	button {
		position: absolute;
		top: 20px;
		right: 315px;
		font-family: "Inter", sans-serif;
		font-size: 14px;
		cursor: pointer;
	}

	button:nth-of-type(1) {
		padding: 10px 20px;
		top: 10px;
		background-color: $topbarwhite;
		color: $topbarbutton;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 8px;
		border: 0;
	}

	button:nth-of-type(2) {
		right: 217px;
		border: 0;
		background-color: transparent;
		color: $topbarwhite;
	}
}

@media (max-width: 1139px) {
	.topbar {
		p {
			left: 138px;
		}
		p:nth-of-type(2) {
			left: 420px;
			top: 21px;
		}
		button {
			right: 230px;
		}

		button:nth-of-type(2) {
			right: 138px;
		}
	}
}

@media (max-width: 1025px) {
	.topbar {
		p {
			left: 122px;
		}
		p:nth-of-type(2) {
			left: 380px;
		}
		button {
			right: 220px;
		}

		button:nth-of-type(2) {
			right: 130px;
		}
	}
}

@media (max-width: 769px) {
	.topbar {
		display: none;
	}
}
